global
   log /dev/log local0
   log /dev/log local1 notice
   chroot /var/lib/haproxy
   stats timeout 30s
   user haproxy
   group haproxy
   daemon

defaults
   log global
   mode http
   option httplog
   option dontlognull
   timeout connect 5000
   timeout client 50000
   timeout server 50000

listen stats
   bind *:8181
   stats enable
   stats uri /
   stats realm Haproxy\ Statistics
   stats auth {{ ha_username }}:{{ ha_password }}

frontend http_front
   bind *:{{ port }}
   stats uri /haproxy?stats
   default_backend http_back

backend http_back
    balance     roundrobin
    {% for vm in virtual_machines %}
server {{ vm.name }} {{ vm.net.ip }}:{{ port }}   check
    {% endfor %}
