#cloud-config
users:
  - default
  - name: {{ username }}
    ssh-authorized-keys:
      - {{ vm_public_key }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    shell: /bin/bash

package_update: true
packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - software-properties-common
runcmd:
  - touch /etc/cloud/cloud-init.disabled
  - echo 1 > /proc/sys/net/ipv4/ip_forward
  - echo "nameserver {{ vm.net.dns }}" | sudo tee /etc/resolv.conf > /dev/null
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - apt-add-repository ppa:ansible/ansible
  - apt-get update
  - apt-get dist-upgrade
  - apt-get install unattended-upgrades
  - dpkg-reconfigure unattended-upgrades
  - unattended-upgrade
  - apt-get install ansible -y
  - iptables -A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
  - iptables -A INPUT -p tcp --dport ssh -j ACCEPT
  - iptables -A INPUT -p tcp --dport 80 -j ACCEPT
  - iptables -P INPUT DROP
  - iptables-save > /etc/network/iptables.rules
