#cloud-config
users:
  - default
  - name: ubuntu
    ssh-authorized-keys:
      - {{ vm_public_key }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    shell: /bin/bash

package_update: true
packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - software-properties-common
runcmd:
  - touch /etc/cloud/cloud-init.disabled
  - echo 1 > /proc/sys/net/ipv4/ip_forward
  - echo "nameserver {{ vm.inet.dns }}" | sudo tee /etc/resolv.conf > /dev/null
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu  bionic  stable"
  - apt-add-repository ppa:ansible/ansible
  - apt-get update
  - apt-get install docker-ce -y
  - apt-get install ansible -y
