<network>
  <name>{{ net_ext }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <ip address='{{ ext_ip }}' netmask='{{ netmask }}'>
    <dhcp>
      <range start='{{ ext_start_range }}' end='{{ ext_end_range }}'/>
    </dhcp>
  </ip>
</network>
