<network>
  <name>external</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <ip address='192.168.123.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.123.2' end='192.168.123.254'/>
      <host mac="00:16:3e:77:e2:ed" ip="192.168.123.10" />
      <host mac="00:16:3e:3e:a9:1a" ip="192.168.123.11" />
    </dhcp>
  </ip>
</network>
